{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="page_heading">
  <div class="page_name">
   <h1>Courses</h1>
   <p>We Accelerate Your Career in Tech</p>
  </div>
 <span class="bg_inner_pages"></span>
 <img src='{% static "images/about_head.png" %}'' alt="img" />
</div>

<div class="section_accelerate aboutus">
 <div class="container">
  <div class="cors_ttl">An eight ( 8 ) weeks bootcamp that help you kick start a career in Tech. <br />( Programming and Design )</div>
  
  <div class="col_immer">  
   <div class="img_sec"><img src='{% static "images/cours01.png" %}'  alt="img" /></div>
   <div class="detail_sec">
    <h2>Immersive Courses</h2>
	<p>An eight ( 8 ) weeks bootcamp that help you kick start a career in Tech. ( Programming and Design )</p>
	<a href="/course_list" class="learn_more">Learn more</a>
   </div>
  </div>
  
   <div class="col_immer">  
   <div class="img_sec"><img src= '{% static "images/cours01.png" %}'  alt="img" /></div>
   <div class="detail_sec">
    <h2>Accelerated Courses</h2>
	<p>This is a short course that is designed for busy executives and focuses on teaching a specific framework</p>
	<a href="/course_list" class="learn_more">Learn more</a>
   </div>
  </div>
  
 </div>
</div>

{% endblock %}