{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="page_heading">
  <div class="page_name">
   <h1>{{ category.title }}</h1>
   <p>We Accelerate Your Career in Tech</p>
  </div>
 <span class="bg_inner_pages"></span>
 <img src='{% static "images/fron_dev.png" %}'  alt="img" />
</div>


<div class="breadcrumb">
 <div class="container padLR">
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../../courses">Courses</a></li>
    <li class="breadcrumb-item"><a href="../../course_list/{{ category.id }}">{{ category.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
  </ol>
</nav>
 </div>
</div>

<div class="section_accelerate dev_sec">
 <div class="container">
  <div class="row">
    <div class="col-md-7">
     <div class="crse_abt">
      <h2 class="h2_head">About this Course</h2>
      <p>
        {{ course.about }}
      </p>
   	 </div>
     <div class="tk_awy">
      <h2 class="h2_head">Takeaways</h2>
       <ul>
         {% for takeaway in takeaways %}
        <li><span>{{ takeaway.text }}</span></li>
        {% endfor %}
        <!-- <li><span>Introduction To JavaScript</span></li>
        <li><span>How To Use Boostrap</span></li>
        <li><span>Learn VueJS &amp; API Implementation</span></li> -->
       </ul>
   	 </div>
     <div class="tk_awy du_sec">
      <h2 class="h2_head">Duration</h2>
       <ul>
        <li><span>Eight ( {{ course.duration }} ) weeks of bootcamp</span></li>
       </ul>
   	 </div>
     <div class="tk_awy pre_sec">
      <h2 class="h2_head">Prerequisite and Preparation</h2>
       <ul>
          {% for requirement in requirements %}
        <li><span>{{ requirement.text }}</span></li>
        {% endfor %}
       </ul>
   	 </div>
    </div>
    <div class="col-md-4 pull-right rightSEC">
      <div class="right_section">
       <ul>
        <li><img src='{% static "images/calender.svg" %}' alt="calender" /><span>Starts {{ course.date }}</span></li>
        <li><img src='{% static "images/clock.svg" %}' alt="clock" /> <span>{{ course.time }}</span></li>
        <li><img src='{% static "images/area_pin.svg" %}' alt="area_pin" /><span>{{ course.address| truncatechars:45 }}</span></li>
        <li><img src='{% static "images/price-tag.svg" %}' alt="price-tag" /> <span>Price: {{ course.price  }}</span></li>
       </ul>
       <div class="button"><a href="/form">Apply</a></div>
      </div>
      
      <div class="get_crs">
       <span>Get update on this course</span>
         <form action="#" class="input-group-sm">
          <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Email" required>
          <button class="btn btn-info btn-lg" type="submit">Subscribe</button>
         </form>
      </div>
      
    </div>
  </div>
 </div>
</div>

{% endblock %}