{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="page_heading form_page">
 <span class="bg_inner_pages"></span>
 <img src='{% static "images/form.png" %}' height="116" alt="img" />
</div>




<div class="section_accelerate dev_sec frm_sec">
 <div class="container">
  <div class="row">
    <div class="col-md-10">
     <div class="col-md-5 padLR">
      <div class="leftpage">
      <span class="bgble">
      <div class="content">
       <img src='{% static "images/resume.svg" %}'  alt="resume" />
       <span>Applying for <br/>{{ course.title }}</span>
       <p>Learn to start working with cutting-edge libraries and frameworks, gain an understanding of how to write high-quality</p>
      </div>
      </span>
      <img src='{% static "images/formImg.png" %}' alt="formImg" />
     </div>
     </div>
     <form id = "application_form" class = "application_form" action="#" method= "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div hidden id = 'course_id'>{{ course.id }}</div>
        <input hidden id = '_course_id' name = "_course_id" value = '{{ course.id }}'>

        <div class="col-md-7 padLR rightpage">
          <h2>Fill The Registration Form</h2>
           <div class="form-group">
            <label for="full_name">Full Name</label>
            <input id = "full_name" name = "full_name" type="text" class="form-control" required>
           </div>
           <div class="form-group">
            <label for="email">Email Address</label>
            <input id = "email" name = "email"  type="text" class="form-control" required>
           </div>
           <div class="form-group">
            <label for="phone">Phone Number</label>
            <input id = "phone" name = "phone"  type="number" class="form-control" name="quantity" >
           </div>
           <div class="form-group">
           <label for="address">Address</label>
            <input id = "address" name = "address" class="form-control" type = "text" cols=""></input>
           </div>
           <div class="form-group field_grp">
            <label><input name="choice" type="radio" value="1" checked> <span>Full payment</span></label>
            <label><input name="choice" type="radio" value="2"> <span>Installment</span></label>
            <label><input name="choice" type="radio" value="3"> <span>Others</span></label>
           </div>
            <div class="form-group">
            <label for="coupon">Do you have a coupon code?</label>
            <input id = "coupon" name = "coupon"  type="text" class="form-control">
           </div>
           <div class = "row">
             <button class="col-md-2 submit">Apply and pay later</button>
             <hr>
             <hr>
            
             <button class="col-md-2 submit" type="button" onclick="payWithPaystack()">Apply and Pay with paystack </button> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    function payWithPaystack(){
      var handler = PaystackPop.setup({
        key: 'pk_test_bf5224b428599d3526131c03634b47536ee4bb81',
        email: 'customer@email.com',
        amount: 10000,
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        metadata: {
           custom_fields: [
              {
                  display_name: "Mobile Number",
                  variable_name: "mobile_number",
                  value: "+2348012345678"
              }
           ]
        },
        callback: function(response){
            alert('success. transaction ref is ' + response.reference);
        },
        onClose: function(){
            alert('window closed');
        }
      });
      handler.openIframe();
    }
  </script>
<script src="https://js.paystack.co/v1/inline.js"></script>
{% endblock %}